/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */
.debug {
    border: 1px solid red;
}

/* custom properties*/

:root {
    --bg-blue: #255EE9;
    --bg-light: #F6F6F6;
    --dark: #23272A;
    --contrast-color: #7289DA;
}

/*  generals */

body {
    font-family: Whitney, Neue Helvetica, Helvetica, Arial, sans-serif;
    color: var(--dark);
}

ul {
    list-style: none; 
}

header ul li a {
    padding: 6px 10px;
    color: #ffffff;
    text-decoration: none;
}

 /* main */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.container-small{
    max-width: 800px;
    margin: 0 auto;
}

.bg-light {
    background-color: var(--bg-light);
}

.bg-blue {
    background-color: var(--bg-blue);
}

/* utility */

.d-flex {
    display: flex;
}

.r-reverse {
    flex-direction: row-reverse;
}

.s-between {
    justify-content: space-between;
}

.s-around {
    justify-content: space-around;
}
.a-items {
    align-items: center;
}

.f-start {
    align-items: flex-start;
}