/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */
.debug {
    border: 1px solid red;
}

/* custom properties*/

:root {
    --blue: #255EE9;
    --light: #F6F6F6;
    --dark: #23272A;
    --contrast-color: #7289DA;
}

/*  generals */

body {
    font-family: Whitney, Neue Helvetica, Helvetica, Arial, sans-serif;
    color: var(--dark);
}

ul {
    list-style: none; 
}

header ul li a {
    padding: 6px 10px;
    color: #ffffff;
    text-decoration: none;
}

/* header */

 /* main */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.container-small{
    max-width: 800px;
    margin: 0 auto;
}

.btn {
    padding: 6px;
    border-radius: 10px;
    border: 0px;
}

.light {
    background-color: var(--light);
}

.constrast {
    background-color: var(--contrast-color);
}

.white {
    background-color: #ffffff;
}

.blue {
    background-color: var(--blue);
}
.text-contrast {
    color: var(--contrast-color)
}
 /* id */

 #hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 600px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center 
 }

/* footer */

footer {
    background-color: var(--dark);
}

/* footer ul, footer h3, footer h2 {
    color: var(--contrast-color);
} */

footer li {
    color: #ffffff;
}
/* utility */

.d-flex {
    display: flex;
}

.r-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.c-reverse {
    flex-direction: column-reverse;
}
.s-between {
    justify-content: space-between;
}

.s-around {
    justify-content: space-around;
}

.c-content {
    justify-content: center;
}

.c-items {
    align-items: center;
}

.f-start {
    align-items: flex-start;
}